CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

build/CMakeLists.txt.user
build/CMakeCache.txt
build/CMakeFiles
build/CMakeScripts
build/Testing
build/Makefile
build/cmake_install.cmake
build/install_manifest.txt
build/compile_commands.json
build/CTestTestfile.cmake
build/_deps

build/.vs
build/bin
build/chromatic_k_nearest_neighbours.dir
build/x64
build/ALL_BUILD.*
build/ZERO_CHECK.*

